body {
  font-family: $font-light;
}
* {
  box-sizing: border-box;
}
figure {
  margin: 0;
}

main {
  padding-top: 15vh;
}

@include respond("desktop-large") {
  main {
    padding-top: 10vh;
  }
}

.error {
  font-size: 15px;
  color: #e02020;
  line-height: 14px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  &.big {
    font-size: 20px;
  }
}

label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.46px;
  color: #000000;
  span {
    color: #e02020;
  }
}
input {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.46px;
  color: #000000;
  width: 100%;
  height: 40px;
  background: #f4f2f2;
  border: 1px solid #cccccc;
  &[type="checkbox"] {
    width: 27px;
    height: 27px;
    background: #f4f2f2;
    border: 1px solid #cccccc;
  }
}

select {
  width: 50%;
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  background: #f4f2f2;
  letter-spacing: 0.46px;
  border: 1px solid #cccccc;
  color: #000000;
  margin: 0 25px 30px 0;
}

textarea {
  background: #f4f2f2;
  border: 1px solid #cccccc;
  height: 40px;
  max-width: 1050px;
  height: 200px;
  font-size: 12px;
}

.link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.69px;
  color: #000000;
}

.container {
  width: 90%;
  max-width: $desktop;
  margin: auto;
  padding: 0;
  &.hidden {
    overflow: hidden;
  }
}
.tip {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    padding: 20px;
    img {
      width: 30px;
      height: 30px;
    }
    .name {
      font-family: $font-book;
      font-size: 16px;
      color: $dark-gray;
      letter-spacing: 0;
      line-height: 17px;
      margin: 20px;
    }
  }
}
.table {
  font-family: $font-book;
  width: 943px;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0 auto;
  tr {
    td {
      width: 268px;
      height: 61px;
    }
    th {
      &:first-of-type {
        width: 150px;
      }
      width: 268px;
      height: 94px;
    }
  }
  thead {
    > tr {
      > :first-of-type {
        border-bottom: 1px solid $gray;
      }
      :not(:first-of-type) {
        background-color: $fb-primary;
      }

      font-size: 24px;
      color: $white;
      letter-spacing: 0;
      text-align: center;
      .price {
        font-family: $font-bold;
        font-size: 21px;
        color: $white;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
  tbody {
    :not(:last-of-type) {
      > td {
        border-bottom: 1px dashed $gray;
      }
    }
    > tr {
      text-align: center;
      > td {
        &:nth-child(2) {
          background-color: $table-first;
          font-family: $font-bold;
          font-size: 16px;
          color: #63666a;
          letter-spacing: 0.04px;
          text-align: center;
          line-height: 24px;
        }
        &:nth-child(3) {
          background-color: $table-second;
          font-family: $font-bold;
          font-size: 16px;
          color: #63666a;
          letter-spacing: 0.04px;
          text-align: center;
          line-height: 24px;
        }
        &:nth-child(4) {
          background-color: $table-last;
          font-family: $font-bold;
          font-size: 16px;
          color: #63666a;
          letter-spacing: 0.04px;
          text-align: center;
          line-height: 24px;
        }
        .fit {
          margin: 0 auto;
          max-width: 147px;
        }
        &.orange {
          background-image: url("/static/dist/images/check-orange.png");
          background-repeat: no-repeat;
          background-position: center;
        }
        &.price {
          background-image: url("/static/dist/images/price-orange.png");
          background-repeat: no-repeat;
          background-position: center;
        }
        &.category {
          padding: 10px;
          min-width: 150px;
          font-family: $font-bold;
          font-size: 16px;
          color: $dark-blue;
          letter-spacing: 0.04px;
          text-align: right;
          line-height: 28px;
          .subtitle {
            font-family: $font-book;
            font-size: 14px;
            color: #63666a;
            letter-spacing: 0.04px;
            text-align: right;
            line-height: 15px;
          }
        }
      }
    }
  }
}

.title {
  font-family: $font-light;
  font-size: 55px;
  color: $fb-primary;
  letter-spacing: 0.07px;
  text-align: center;
  line-height: 60px;
  max-width: 825px;
  margin: 30px auto;
}

.swiper-container {
  width: 100%;
  height: 548px;
  overflow: visible;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.swiper-pagination {
  padding: 40px 0;
  position: relative;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  width: 100%;
  .swiper-pagination-bullet {
    width: 28px;
    height: 28px;
    margin: 0 15px;
    background: $ligth-gray;
    &.swiper-pagination-bullet-active {
      background: $dark-gray;
    }
  }
}

.button {
  background-color: $fb-primary;
  width: 193px;
  height: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -webkit-clip-path: polygon(193px 0, 6.7px 3.75px, 0 43px, 187px 50px);
  clip-path: polygon(193px 0, 6.7px 3.75px, 0 43px, 187px 50px);
  font-family: $font-book;
  font-size: 18px;
  letter-spacing: 0.07px;
  line-height: 18px;
}

.slide-container {
  display: flex;
  .showtime {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $fb-primary;
    .showtime__info {
      height: 100%;
      flex: 1;
      background: $table-last;
      padding: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-flow: column;
    }
    .showtime__features {
      flex: 2;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          width: 500px;
          height: 133px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 24px;
            width: 24px;
          }
          p {
            padding: 10px;
            font-family: $font-book;
            font-size: 22px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 30px;
            text-align: left;
          }
        }
      }
    }
    .showtime__back {
      position: absolute;
      background: $blue-back;
      width: 67px;
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
    }
    .showtime__question {
      position: absolute;
      bottom: 30px;
      right: 30px;
      .showtime__bubble {
        width: 260px;
        position: absolute;
        top: -89px;
        left: -281px;
        background: $bubble-back;
        padding: 10px;
        .showtime__bubble-title {
          font-family: $font-bold;
          font-size: 21px;
          color: $table-last;
          letter-spacing: 0;
          line-height: 30px;
        }
        .showtime__bubble-desc {
          font-family: $font-book;
          font-size: 14px;
          color: #ffffff;
          letter-spacing: 0;
          line-height: 16px;
          text-align: left;
        }
        .arrow {
          position: absolute;
          right: -13px;
          top: 50%;
        }
        #close {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
  > div {
    flex: 1;
    display: flex;
    align-items: center;
    .info {
      position: absolute;
      background: $table-last;
      width: 572px;
      height: 299px;
      left: 43%;
      padding: 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      #rigth {
        position: absolute;
        bottom: -13px;
        right: -13px;
      }
      #left {
        position: absolute;
        top: -20px;
        left: -20px;
      }
    }
  }
}

.info__title {
  text-align: left;
  font-family: $font-book;
  font-size: 30px;
  color: $fb-primary;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.info__desc {
  font-family: $font-book;
  font-size: 22px;
  color: $dark-gray;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  margin: 0;
}
