{% extends "layout.jinja2" %} {% block content %}
<section class="prices__header">
  <div class="container">
    <div class="prices__header__content">
      <h3 class="prices__header-title">PLANES PARA IMPULSAR TU NEGOCIO</h3>
      <p class="prices__header-description">Queremos ser tu aliado, por eso creamos una experiencia única para ti y tus clientes. Ofrecemos lo último en tecnología a los mejores precios, así te ayudamos a impulsar tu negocio aún más lejos.</p>
    </div>
    <figure>
    <img src="/static/dist/images/prices_header.png" alt="Precios header">
    </figure>
  </div>
</section>

<section class="plans__tabs">
  <div class="container">
    <ul>
      <li class="plans__tabs-element">
        <div class="plans__tabs-name">ESENCIAL</div>
        <p class="plans__tabs-description">Pensado para empresas en crecimiento con equipos pequeños que necesitan estar conectados con sus clientes.</p>
        <p class="plans__tabs-price"><span>por:</span>$39.99</p>
        <ul class="plans__tabs-specs">
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>150 megas internet</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>200 minutos locales red Cable & Wireless	</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Almacenamiento en la Nube</p>
          </li>
        </ul>
        <a href="#" class="button">Cotizar plan</a>
      </li>
      <li class="plans__tabs-element">
        <div class="plans__tabs-name">ESENCIAL</div>
        <p class="plans__tabs-description">Pensado para empresas en crecimiento con equipos pequeños que necesitan estar conectados con sus clientes.</p>
        <p class="plans__tabs-price"><span>por:</span>$39.99</p>
        <ul class="plans__tabs-specs">
          <li  class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>150 megas internet</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Minutos locales y nacionales ilimitados</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>MyUC Softphone</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Almacenamiento en la Nube</p>
          </li>
        </ul>
        <a href="#" class="button">Cotizar plan</a>
      </li>
      <li class="plans__tabs-element">
        <div class="plans__tabs-name">ESENCIAL</div>
        <p class="plans__tabs-description">Pensado para empresas en crecimiento con equipos pequeños que necesitan estar conectados con sus clientes.</p>
        <p class="plans__tabs-price"><span>por:</span>$39.99</p>
        <ul class="plans__tabs-specs">
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>150 megas internet</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Minutos locales y nacionales ilimitados</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>MyUC Softphone</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Almacenamiento en la Nube</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>TV Básica</p>
          </li>
        </ul>
        <a href="#" class="button">Cotizar plan</a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
