{% extends "layout.jinja2" %} {% block content %}
<section class="prices__header">
  <div class="container">
    <div class="prices__header__content">
      <h3 class="prices__header-title">PLANES PARA IMPULSAR TU NEGOCIO</h3>
      <p class="prices__header-description">Queremos ser tu aliado, por eso creamos una experiencia única para ti y tus clientes. Ofrecemos lo último en tecnología a los mejores precios, así te ayudamos a impulsar tu negocio aún más lejos.</p>
    </div>
    <figure>
    <img src="/static/dist/images/prices_header.png" alt="Precios header">
    </figure>
  </div>
</section>

<section class="plans__tabs">
  <div class="container">
    <ul>
      <li class="plans__tabs-element">
        <div class="plans__tabs-name">ESENCIAL</div>
        <p class="plans__tabs-description">Pensado para empresas en crecimiento con equipos pequeños que necesitan estar conectados con sus clientes.</p>
        <p class="plans__tabs-price"><span>por:</span>$39.99</p>
        <ul class="plans__tabs-specs">
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>150 megas internet</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>200 minutos locales red Cable & Wireless	</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Almacenamiento en la Nube</p>
          </li>
        </ul>
        <a href="#" class="button">COTIZAR PLAN</a>
      </li>
      <li class="plans__tabs-element">
        <div class="plans__tabs-name">ESENCIAL</div>
        <p class="plans__tabs-description">Pensado para empresas en crecimiento con equipos pequeños que necesitan estar conectados con sus clientes.</p>
        <p class="plans__tabs-price"><span>por:</span>$39.99</p>
        <ul class="plans__tabs-specs">
          <li  class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>150 megas internet</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Minutos locales y nacionales ilimitados</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>MyUC Softphone</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Almacenamiento en la Nube</p>
          </li>
        </ul>
        <a href="#" class="button">COTIZAR PLAN</a>
      </li>
      <li class="plans__tabs-element">
        <div class="plans__tabs-name">ESENCIAL</div>
        <p class="plans__tabs-description">Pensado para empresas en crecimiento con equipos pequeños que necesitan estar conectados con sus clientes.</p>
        <p class="plans__tabs-price"><span>por:</span>$39.99</p>
        <ul class="plans__tabs-specs">
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>150 megas internet</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Minutos locales y nacionales ilimitados</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>MyUC Softphone</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>Almacenamiento en la Nube</p>
          </li>
          <li class="plans__tabs-spec">
            <figure>
              <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
            </figure>
            <p>TV Básica</p>
          </li>
        </ul>
        <a href="#" class="button">COTIZAR PLAN</a>
      </li>
    </ul>
  </div>
</section>

<section class="upgrade__plan">
  <div class="container">
    <div class="upgrade__plan__content">
      <h3 class="upgrade__plan__content-title">¿Necesitas más? Pásate a un plan +</h3>
      <p class="upgrade__plan__content-description">Nuestros planes + duplican la velocidad hasta 300 megas y te permiten añadir planes móviles con data ilimitada por:</p>
      <div class="upgrade__plan__benefits">
        <figure>
          <img src="/static/dist/images/upgrade_plan.png" alt="Beneficios upgrade plan">
        </figure>
        <p class="upgrade__plan__benefits-price">por <span>$26</span> adicionales</p> 
        <a href="javascript: void(0)" class="button upgrade__plan-cta">MEJORA TU PLAN</a>
      </div>
    </div>

    <div class="upgrade__plan__steps">
      <div class="upgrade__plan__steps-one">
        <p class="upgrade__plan-description"> <span class="upgrade__plan-number">1</span> Seleciona el plan al que le quieres duplicar la velocidad de internet  y adiciona el plan mobile.</p>
        <ul class="upgrade__plan__one-list">
          <li>ESENCIAL</li>
          <li>AVANZADO</li>
          <li>PREMIUM</li>
        </ul>
      </div>

      <div class="upgrade__plan__steps-two">
        <p class="upgrade__plan-description"> <span class="upgrade__plan-number">2</span> Verifica los nuevos beneficios y contacta al asesor para contratar tu plan</p>
        <div class="upgrade__plan__two-plan">
          <h2 class="upgrade__plan__two-name">ESENCIAL <span class="upgrade__plan__two-plus">+</span></h2>
          <p>por:</p>
          <p class="upgrade__plan__two-price">$ 70.99</p>
          <ul class="upgrade__plan__two-specs">
            <li class="upgrade__plan__two-spec">
              <figure>
                <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
              </figure>
              <p>300 megas internet</p>
            </li>
            <li class="upgrade__plan__two-spec">
              <figure>
                <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
              </figure>
              <p>200 minutos locales red Cable & Wireless	</p>
            </li>
            <li class="upgrade__plan__two-spec">
              <figure>
                <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
              </figure>
              <p>Almacenamiento en la Nube</p>
            </li>
            <li class="upgrade__plan__two-spec">
              <figure>
                <img src="/static/dist/images/wifi_icon.png" alt="Plan spec">
              </figure>
              <p>Plan Data sin Límites</p>
            </li>
          </ul>
          <div class="upgrade__plan__two-cta">
            <a href="#" class="button">CONTACTAR ASESOR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="compare__plan">
  <div class="container">
    <div class="compare__plan-content">
      <h3>¿NO ESTÁS SEGURO DE CUÁL PLAN ELEGIR?</h3>
      <a href="#" class="button">COMPARA NUESTROS PLANES</a>
    </div>
  </div>
</section>
{% endblock %}
