{% extends "layout.jinja2" %} {% block content %}
<section class="container" id="myTable">
  <article class="tip">
    {% for item in data.table.quote %}
    <div class="content">
      <img src="{{ item.image }}" />
      <p class="name">{{ item.name }}</p>
    </div>
    {% endfor %}
  </article>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        {% for plan in data.table.planes %}
        <th>
          {{ plan.name }}<br />
          <span class="price"> {{ plan.price }} </span>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for feature in data.table.features %}
      <tr>
        <td class="category">
          {{ feature.title }}
          <p class="subtitle">
            {{ feature.description }}
          </p>
        </td>
        {% set myIndex = loop.index - 1 %} {% for plan in data.table.planes %}
        {% if myIndex > 1 %}
        <td
          class="{% if data.table.planes[loop.index - 1][myIndex] %}orange{% else %}price{% endif %}"
        ></td>
        {% else %}
        <td>
          {{ data.table.planes[loop.index - 1][myIndex] }}
        </td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section class="container hidden">
  <h2 class="title">{{ data.planes.main_title }}</h2>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
    {% for plancito in data.planes.lista %}
    <div class="swiper-slide slide-container">
        <img src="{{ plancito.image }}" />
        <div>
          <article class="info">
            {% include "table/arrow-left.svg" %} {% include
            "table/arrow-rigth.svg" %}
            <h3 class="info__title">{{ plancito.name }}</h3>
            <p class="info__desc">
              {{ plancito.description }}
            </p>
            <button class="button discover">{{ data.descrubre_mas }}</button>
          </article>
        </div>
        <div class="showtime">
          <div class="showtime__info">
            <h3 class="info__title">{{ plancito.name }}</h3>
            <p class="info__desc">
              {{ plancito.showtime.description }}
            </p>
          </div>
          <div class="showtime__features">
            <ul>
              {% for feature in plancito.showtime.features %}
              <li>
                <img src="/static/dist/images/check-white.png" />
                <p>
                  {{feature}}
                </p>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="showtime__back">
            <img src="/static/dist/images/back.png" />
          </div>
          <div class="showtime__question">
            <img src="/static/dist/images/question.png" />
            <div class="showtime__bubble">
              <img id="close" src="/static/dist/images/x.png" />
              <img class="arrow" src="/static/dist/images/bubble-arrow.png" />
              <h3 class="showtime__bubble-title">{{ data.ayuda.title }}</h3>
              <p class="showtime__bubble-desc">
                {{ data.ayuda.description }}
              </p>
              <a class="button" href="{{ plancito.link }}">{{ data.contactar_asesor }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
      
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</section>
<section class="full">
  <article class="medida">
    <h2 class="medida__title">{{ data.byob.title }}</h2>
    <p class="medida__desc">
    {{ data.byob.description }}
    </p>
    <a class="button" href="{{ data.byob.link }}">{{ data.byob.button }}</a>
  </article>
</section>
{% endblock %}
