<footer class="footer">
  <ul class="footer__list">
    <li class="logos__pay">
      <a href="#"
        ><figure>
          <img src="{{url_for('static', filename='dist/images/facebook.png')}}" alt="" /></figure
      ></a>
      <a href="#"
        ><figure>
          <img src="{{url_for('static', filename='dist/images/youtube.png')}}" alt="" /></figure
      ></a>
      <a href="#"
        ><figure>
          <img src="{{url_for('static', filename='dist/images/instagram.png')}}" alt="" /></figure
      ></a>
      <a href="#"
        ><figure>
          <img src="{{url_for('static', filename='dist/images/twitter.png')}}" alt="" /></figure
      ></a>
    </li>
    <li class="footer__list-item"><a href="#">NOSOTROS</a></li>
    <li class="footer__list-item"><a href="#">EQUIPO</a></li>
    <li class="footer__list-item"><a href="#">POLÍTICAS DE PRIVACIDAD</a></li>
    <li class="footer__list-item"><a href="#">ENVÍO</a></li>
    <li class="footer__list-item"><a href="#">DEVOLUCIONES</a></li>
    <li class="footer__list-item"><a href="#">FORMAS DE PAGO</a></li>
    <li class="footer__list-item"><a href="#">SERVICIO AL CLIENTE</a></li>
    <li class="footer__copy">© 2020 Shoppu Colombia LTDA</li>
  </ul>
</footer>
