<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="{{ description }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {{
      jinjasset(dist_folder="/static/dist", who=0)
    }}
  </head>
  <body>
    {% include 'header.jinja2' %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include 'footer.jinja2' %}
  </body>
  {{
    jinjasset(dist_folder="/static/dist", who=1)
  }}
  {% block javascripts %}{% endblock %}
</html>
